<div
  class="read-story-container"
  *ngIf="story"
  [ngClass]="{ 'read-story-container-maximized': maximized }"
>
  <div class="focus">
    <p-button
      icon="pi pi-window-maximize"
      [rounded]="true"
      [text]="true"
      severity="secondary"
      (onClick)="maximize()"
      *ngIf="!maximized"
    />
    <p-button
      icon="pi pi-window-minimize"
      [rounded]="true"
      [text]="true"
      severity="secondary"
      (onClick)="minimize()"
      *ngIf="maximized"
    />
  </div>

  <div class="read-story-container__content-wrapper">
    <div [innerHTML]="currentPageContent" class="read-story-container__content"></div>
  </div>

  <div class="read-story-container__navigation">
    <p-button
      icon="pi pi-angle-left"
      [rounded]="true"
      [text]="true"
      severity="secondary"
      (onClick)="movePrev()"
    />
    <div class="page-input">
      <input
        type="number"
        [max]="contents.length"
        [min]="1"
        [(ngModel)]="pageInput"
        [ngModelOptions]="{ standalone: true }"
        (change)="goToPage()"
      />
      <span>/ {{ contents.length }}</span>
    </div>
    <p-button
      icon="pi pi-angle-right"
      [rounded]="true"
      [text]="true"
      severity="secondary"
      (onClick)="moveNext()"
    />
  </div>
</div>
