main {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  justify-content: start !important;

  & .left-panel,
  .navigation {
    display: flex;
    flex-direction: row;
  }

  & .right-panel {
  }
}

.mt-16 {
  margin-top: 16px;
}

::ng-deep .custom-toast {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  max-width: 90vw;
}

@media (max-width: 900px) {
  .left-panel {
    justify-content: space-between;
  }

  .right-panel {
    width: 100% !important;
  }
}
