<div class="preview-story-page" *ngIf="story && !storyNotFound">
  <div class="content-wrapper">
    <div class="left-content">
      <div class="story-header">
        <h1>{{ story.Title }}</h1>
        <span class="story-author">
          By
          <button (click)="navigateToLibrary()" class="link">
            {{ story.LibraryName }}
          </button>
        </span>
        &nbsp;•&nbsp;
        <span class="story-date">{{ story.DatePublished | date : 'longDate' }}</span>
        &nbsp;•&nbsp;
        <span class="story-date">{{ story.AgeLimit }}+</span>
      </div>

      <div class="story-details">
        <p class="story-description">{{ story.Description }}</p>
      </div>

      <div class="story-actions">
        <app-button-two
          label="See library"
          iconType="pi-book"
          severity="warning"
          (clicked)="navigateToLibrary()"
        ></app-button-two>
        <app-button-two label="Read" iconType="pi-eye" (clicked)="readStory()"></app-button-two>
        <app-button-two
          *ngIf="isEditable"
          label="Modify"
          iconType="pi-pencil"
          severity="warning"
          (clicked)="modifyStory()"
        ></app-button-two>
      </div>
    </div>
  </div>
</div>
