<div
  [formGroup]="formGroup()"
  class="custom-form-field"
  [ngClass]="{ 'custom-form-field-centered': centered() }"
>
  <label>Genres</label>
  <p-multiSelect
    [options]="items()"
    [formControlName]="controlName()"
    [placeholder]="placeholder"
    optionLabel="Name"
    filterBy="Name"
    [filter]="true"
  />
  @if (
    formGroup().get(controlName())?.hasError('required') && formGroup().get(controlName())?.touched
  ) {
    <p-message severity="error" [text]="errorMessage" />
  }
</div>
