<div [formGroup]="formGroup" class="content-editor-container">
  <ng-container [formArrayName]="formArrayName">
    <app-text-editor
      [control]="currentPageControl"
      [errorMessage]="'Content is required'"
    ></app-text-editor>
  </ng-container>

  <div class="controls-glassy">
    <app-button-two
      severity="danger"
      label="Remove Page"
      (clicked)="removeContent()"
    ></app-button-two>

    <div class="pagination">
      <p-button
        icon="pi pi-angle-left"
        [rounded]="true"
        [text]="true"
        severity="secondary"
        (onClick)="movePrev()"
      ></p-button>
      <div class="page-input">
        <input
          type="number"
          [max]="contents.length"
          [min]="1"
          [(ngModel)]="pageInput"
          [ngModelOptions]="{ standalone: true }"
          (change)="goToPage()"
        />
        <span>/ {{ contents.length }}</span>
      </div>
      <p-button
        icon="pi pi-angle-right"
        [rounded]="true"
        [text]="true"
        severity="secondary"
        (onClick)="moveNext()"
      ></p-button>
    </div>

    <app-button-two severity="success" label="Add Page" (clicked)="addContent()"></app-button-two>
  </div>
</div>
