<div
  class="publish-story-container"
  [ngStyle]="{ 'background-image': base64Image ? 'url(' + base64Image + ')' : 'none' }"
>
  @if (base64Image) {
    <div class="overlay"></div>
  }

  <h2>Publish New Story</h2>

  <form [formGroup]="publishForm" (ngSubmit)="onSubmit()">
    <div class="form-controls">
      <div class="form-controls__row">
        <app-form-input
          [formGroup]="publishForm"
          controlName="Title"
          label="Title"
          errorMessage="Title is required"
        />

        <app-form-input
          [formGroup]="publishForm"
          controlName="AuthorName"
          label="Author Name"
          errorMessage="Author Name is required"
        />
      </div>

      <app-form-textarea
        [formGroup]="publishForm"
        controlName="Description"
        label="Description"
        errorMessage="Description is required"
        [rows]="4"
      />

      <div class="form-controls__row">
        <app-number-limit-control
          [formGroup]="publishForm"
          controlName="AgeLimit"
          label="Age Limit"
          errorMessage="Age Limit is required and must be between 0 and 18"
          [min]="0"
          [max]="18"
          [step]="1"
          [centered]="true"
        />

        <app-form-date-input
          [formGroup]="publishForm"
          controlName="DateWritten"
          label="Date Written"
          errorMessage="Date Written is required"
          [centered]="true"
        />
      </div>

      <div class="form-controls__row">
        @if (genres && genres.length > 0) {
          <app-form-multiselect [formGroup]="publishForm" [items]="genres" controlName="Genres" />
        }

        <app-upload-file-control [control]="imageControl" fileType="image" />
      </div>

      <p-divider layout="horizontal" />

      @if (globalError) {
        <p-message severity="error" [text]="globalError" />
      }

      @if (globalError) {
        <p-divider layout="horizontal" />
      }

      <div class="center">
        @if (submitted) {
          <app-loading-spinner />
        } @else {
          <app-button-two label="Publish Story" (clicked)="onSubmit()" />
        }
      </div>
    </div>
  </form>
</div>
