<div class="custom-form-field" [ngClass]="{ 'custom-form-field-centered': centered() }">
  <p-fileUpload
    #fileUpload
    mode="basic"
    [chooseLabel]="chooseLabel()"
    chooseIcon="pi pi-upload"
    name="file"
    [accept]="accept"
    [maxFileSize]="maxFileSize"
    [auto]="true"
    (onSelect)="onSelect($event)"
  />
  @if (hasFileSelected) {
    <p-button (click)="clearSelection()" icon="pi pi-times" [text]="true" severity="danger" />
  }
</div>
@if (control()?.hasError('required') && control()?.touched) {
  <p-message severity="error">{{ requiredErrorMessage }}</p-message>
}
