<div class="notifications-bar" *ngIf="notifications.length > 0">
  <div class="notifications-bar__header">
    <h2>Notifications</h2>
    <button class="mark-read" (click)="markAllAsRead()">Mark all as read</button>
  </div>
  <ul class="notifications-list">
    <li
      *ngFor="let notification of notifications"
      [class.unread]="!notification.IsRead"
      [class.clickable]="notification.RelatedObjectId"
      (click)="clickNotification(notification)"
      tabindex="0"
    >
      <div class="notification-content">
        <p class="notification-message">{{ notification.Message }}</p>
        <img
          *ngIf="notification.ImageUrls"
          [src]="notification.ImageUrls | fallbackImage"
          alt="{{ notification.Message }}"
          class="notification-image"
          onerror="this.style.display='none'"
        />
      </div>
    </li>
  </ul>
</div>
