<div class="notifications-bar">
  <div class="notifications-bar__header" *ngIf="notifications.length > 0">
    <h2>Notifications</h2>
    <button class="mark-read" (click)="markAllAsRead()">Mark all as read</button>
  </div>
  <ng-container *ngIf="notifications.length > 0; else noNotifications">
    <ul class="notifications-list">
      <li
        *ngFor="let notification of notifications"
        [class.unread]="!notification.IsRead"
        [class.clickable]="notification.RelatedObjectId"
        (click)="clickNotification(notification)"
        (keydown)="clickNotification(notification)"
        tabindex="0"
      >
        <div class="notification-content">
          <p class="notification-message">{{ notification.Message }}</p>
          <img
            *ngIf="notification.ImageUrls"
            [src]="notification.ImageUrls | fallbackImage"
            alt="{{ notification.Message }}"
            class="notification-image"
            onerror="this.style.display='none'"
          />
        </div>
      </li>
    </ul>
  </ng-container>
  <ng-template #noNotifications><div class="center">No notifications yet</div></ng-template>
</div>
