<ui-section-header title="Search result" />

<ui-infinite-scroll-grid
  [isLoading]="isLoading()"
  [isEmpty]="stories().Items.length === 0 && !isLoading()"
  [hasMore]="stories().Items.length < stories().TotalItemsCount"
  emptyMessage="No stories found 💨"
  (loadMore)="nextPage()"
>
  @for (story of stories().Items; track story.Id) {
    <ui-media-card
      [imageSrc]="story.ImagePreviewUrl | fallbackImage"
      [title]="story.Title"
      [subtitle]="story.AuthorName ?? null"
      [description]="story.Description"
      [ageLimit]="story.AgeLimit"
      [progressPercentage]="story.PercentageRead"
      (clicked)="previewStory(story)"
    />
  }
</ui-infinite-scroll-grid>
