@if (dataLoaded) {
  <ng-content />
} @else {
  @if (!errorMessage) {
    @for (_ of [1, 2, 3]; track _) {
      <div
        class="border-round border-1 surface-border p-4 surface-card"
        [style]="{ 'margin-bottom': '24px' }"
        >
        <div class="flex mb-3">
          <div>
            <p-skeleton width="300px" height="150px" [style]="{ 'margin-bottom': '8px' }" />
          </div>
        </div>
      </div>
    }
  }
}
@if (errorMessage) {
  <div class="error-message">
    <h2>{{ errorMessage.Title }}</h2>
    <p>{{ errorMessage.Description }}</p>
  </div>
}
