:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.load-more-anchor {
  height: 1px;
  width: 100%;
  background-color: transparent;
}

.date-label {
  font-weight: 700;
  font-size: 1.2rem;
  margin: 16px 0 8px 0;
  color: #c9a27e;
}
